<h2>Aviso legal</h2>
<h3>Generalidades</h3>
<p>El sitio web {{siteConfig.siteName}} (de ahora en más "el sitio") es un portal con intensión de asesorar a los usuarios sobre 
los diferentes tipos de productos que existen en el rubro de cerramientos.</p>
<p>&nbsp;</p>
 
<h3>Imágenes, Logos y Marcas registradas</h3>
<p>Aquellas nombres, logos e imágenes de marcas registradas que puedan existir en el sitio  
son propiedad de cada una de ellas y contamos con la autorización de las mismas para ser usadas en el sitio.</p>
<p>&nbsp;</p>
 
<h3>Cookies</h3>
<p><u>{{siteConfig.siteName}} no guarda ni solicita datos de los usuarios en ningún caso.</u> En los casos donde el usuario desee obtener información
o simplemente contactarse se le solicitará la información correspondiente al proceso.</p>
