<div class="footer" ng-controller="FooterController">
  <div class="container">
    <ul>
    	<li ng-class="{active : isActiveSection('/') }"><a href="#/">Inicio</a></li>
  		<li ng-class="{active : isActiveSection('/nosotros') }"><a ng-href="#/nosotros">Nosotros</a></li>
  		<li ng-class="{active : isActiveSection('/arquitectura') }"><a ng-href="#/arquitectura">Arquitectura</a></li>
  		<li ng-class="{active : isActiveSection('/productos') }"><a ng-href="#/productos">Productos</a></li>
  		<li ng-class="{active : isActiveSection('/obras') }"><a ng-href="#/obras">Obras</a></li>
  		<li ng-class="{active : isActiveSection('/contacto') }"><a ng-href="#/contacto">Contacto</a></li>
    </ul>
    <p><span class="glyphicon glyphicon-registration-mark"></span> {{siteConfig.currentYear}} <a href="{{siteConfig.siteUrl}}" title="Inicio de Arquitectura &amp; Aluminio">Arquitectura &amp; Aluminio</a>. 
    <a ng-href="#/arquitectura-aluminio-marca-registrada">Marca Registrada</a> Teléfono/fax: 2200 7020 - Montevideo - Uruguay | Desarrollado por <a href="http://www.gefing.com.uy/?ref=aa" title="Producido por GEFIng" target="_blank">GEFIng</a></p>
  </div>
</div>