<div class="footer" ng-controller="FooterController">
  <div class="container">
    <ul>
    	<li class="active"><a href="#/">Inicio</a></li>
		<li><a ng-href="#/nosotros">Nosotros</a></li>
		<li><a ng-href="#/arquitectura">Arquitectura</a></li>
		<li><a ng-href="#/productos">Productos</a></li>
		<li><a ng-href="#/obras">Obras</a></li>
		<li><a ng-href="#/contacto">Contacto</a></li>
    </ul>
    ---> {{mainConfig.testConfig}} <----
        <p><span class="glyphicon glyphicon-registration-mark"></span> {{DATE_YEAR}} <a href="{{SITE_URL}}" title="Inicio de Arquitectura &amp; Aluminio">Arquitectura &amp; Aluminio</a>. 
        <a ng-href="#/arquitectura-aluminio-marca-registrada">Marca Registrada</a> TelĂŠfono/fax: 2200 7020</p>
        <p>Montevideo - Uruguay | Desarrollado por <a href="http://www.gefing.com.uy/?ref=aa" title="Producido por GEFIng" target="_blank">GEFIng</a></p>
  </div>
</div>