<div class="header" ng-controller="HeaderController">

  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/">Brand name</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">
        <ul class="nav navbar-nav">
          <li ng-class="{active : isActiveSection('/') }"><a href="#/">Inicio</a></li>
          <li ng-class="{active : isActiveSection('/nosotros') }"><a ng-href="#/nosotros">Nosotros</a></li>
          <li ng-class="{active : isActiveSection('/productos') }"><a ng-href="#/productos">Productos</a></li>
          <li ng-class="{active : isActiveSection('/obras') }"><a ng-href="#/obras">Obras</a></li>
          <li ng-class="{active : isActiveSection('/contacto') }"><a ng-href="#/contacto">Contacto</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>