header, footer {
 padding: 30px;
}

.container{
	background: rgba(247, 247, 249, 1);
}

.container div[ng-view]{
	
}

.demoDirective {
	
	padding: 10px 0px 10px 0px;
}

.mainView{
	
	padding: 10px 0px 10px 0px;
}
